.tech-nav{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-family: 'Bellefair', serif;
}
.t-active>div{
    background-color: white;
    color: black;
}
.tech-nav:hover{
    border: 1px solid rgba(255, 255, 255, 1);
}
